<!DOCTYPE html>
<html lang="en">
<head>
	<title>Path of Exile Ladder Data</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/style.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div id='main' class='container'>
		<div class='row'>
			<div class='w-100 p-3'>
				<h1><a href="/">Path of Exile Ladder Data</a></h1>
			</div>
		</div>
		<div class='row'>
			<div class='w-100 p-3'>
				<% include partials/characters %>
			</div>
		</div>
	</div>
</body>
</html>